@{
    ViewBag.Title = "Bize Ulaşın";
}
<h2 style="text-align:center">@ViewBag.Title.</h2>

<address>
    Yıldız Teknik Üniversitesi Davutpaşa Kampüsü<br />
    Teknoloji Geliştirme Bölgesi C1 Blok C107 Esenler / İstanbul<br />
    Telefon :+90 (212) 2340012
</address>

<address>
    <strong>Mail:   </strong>   <a href="mailto:info@labdroids.com">info@labdroids.com</a><br />
                                                                                          <div></div>
    <strong>Website:</strong> <a href="http://www.labdroids.com/en/">Labdroids.com</a>
</address>