
@{
    ViewBag.Title = "AboutGame";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    .headerBackgroundCustom {
        background-color: lightgray;
        padding: 20px 20px 25px 40px;
        margin: 20px;
        border-radius: 4px;
    }
</style>
<div class="headerBackgroundCustom">
    <h2>İzinler ve Hakkımızda</h2>
    <p>Mayın Tarlası uygulaması Labdroids tarafından, C#,MVC,Entity Framework konusunda eğitim almak için Emre YİĞİT ve Oğuz GÖNÜL tarafından oluşturulmuştur.</p>
    <p>Mayın tarlası oynayış eğitim yazısını detaylıca <a href="http://halilibrahim.net/mayin-tarlasin-nasil-oynanir.html"> Halilibraihim.net</a>'den okuyabilirsiniz.</p>
    <p>Ticari gelir sağlanmamaktadır, eğitim amaçlı oluşturulmuştur.</p>
</div>
